name: Playwright Automation

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'  # Runs every 6 hours

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: 'pip' # Enable built-in pip caching

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Create Accounts File
        run: |
          echo "${{ secrets.ACCOUNTS_CSV }}" > instamatch_passwords1.csv
        shell: bash

      - name: Cache Playwright browsers
        id: playwright-cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('requirements.txt') }}

      - name: Install Playwright browsers
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: playwright install chromium

      - name: Run script
        run: |
          python account_automation.py

      - name: Send results to Telegram
        if: always()
        run: |
          if [ -f "account_balances.csv" ]; then
            curl -s -F document=@account_balances.csv "https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendDocument?chat_id=${{ secrets.TELEGRAM_TO }}"
          else
            echo "account_balances.csv not found, skipping Telegram upload."
          fi

      - name: Upload results
        if: always() # Upload even if script fails
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: |
            account_balances.csv
            progress.json
          retention-days: 90

      - name: Upload screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: screenshots/
          retention-days: 90
